<!DOCTYPE html>
<html lang="en">
<head>
<title>THE ZJ's home</title>
<link rel="icon" href="/static/img/icon.png" type="image/x-icon"/>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- Custom Theme files -->
<link href="/static/index/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="/static/index/css/font-awesome.css" rel="stylesheet">
<link href="/static/index/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="/static/index/css/lightbox.css">
<link rel="stylesheet" type="text/css" href="/static/index/css/menu_topexpand.css" />
<link href="/static/index/css/owl.carousel.css" rel="stylesheet">
{#<!-- //Custom Theme files -->#}
<link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
<!--Slider-->
<div class="slider">
	<div class="header-bottom">
		<div class="top-nav menu-wrap">
		<nav class="menu">
			<div class="icon-list">
				<a href="#" class="scroll"><i class="glyphicon glyphicon-home"></i><span>Home</span></a>
				<a href="#services" class="scroll"><i class="glyphicon glyphicon-cog"></i><span>Services</span></a>
				<a href="#team" class="scroll"><i class="glyphicon fa fa-users"></i><span>Team</span></a>
                <a href="/shop.html"><i class="glyphicon glyphicon-shopping-cart"></i><span>Orchard</span></a>
				<a href="/login.html"><i class="glyphicon glyphicon-user"></i><span>Login</span></a>
                <a href="/register.html"><i class="glyphicon fa fa-sign-in"></i><span>Register</span></a>
			</div>
		</nav>
	</div>
	<button class="menu-button" id="open-button"></button>

		<div class="clearfix"> </div>
{#        logo here#}
        <a id='u_indexlogo' class="header-brand" href="#">
            <img src="/static/img/brand/logo_white.png" height="50" width="200" class="header-brand-img w3l-logo" alt="here is a logo">
        </a>
		<div class="clearfix"> </div>
	</div>
	<div class="callbacks_container">
		<ul class="rslides" id="slider3">
			<li>
				<div class="slider-info">
					<h3>Welcome to THE ZJ's</h3>
					<p>健康生活从这里开始</p>
					<div class="readmore-w3"><a class="readmore" href="/shop.html" data-target="#myModal2">进入果园</a></div>
				</div>
			</li>
			<li>
				<div class="slider-info">
					<h3>Welcome to THE ZJ's</h3>
					<p>用最快的速度连接用户与果园，给你能感受到新鲜</p>
					<div class="readmore-w3"><a class="readmore" href="/shop.html" data-target="#myModal2">进入果园</a></div>
				</div>
			</li>
			<li>
				<div class="slider-info">
					<h3>Welcome to THE ZJ's</h3>
					<p>现在下单，即买即取</p>
					<div class="readmore-w3"><a class="readmore" href="/shop.html" data-target="#myModal2">进入果园</a></div>
				</div>
			</li>
		</ul>
	</div>
	<div class="clearfix"></div>
</div>
<!--//Slider-->
<!--sevices-->
<div class="sevices-w3layouts" id="services">
	<div class="container">
		<h3 class="agile-title">Services</h3>
		<div class="services-main">
			<div class="col-md-3 sevices-w3layouts-grids wow fadeInUp animated" data-wow-delay=".5s">
				<h5>Service 1</h5>
				<p>无需下载<br>网页下单<br><br>随时下单<br>随时取货</p>
				<div class="sevices-w3layouts-img c1">
					<i class="fa fa-laptop" aria-hidden="true"></i>
					<p>You order online</p>
				</div>
			</div>
			<div class="col-md-3 sevices-w3layouts-grids sevices-w3layouts-mdl1 wow fadeInUp animated" data-wow-delay=".5s">
				<h5>Service 2</h5>
				<p><br><br>原产地直采<br>现采现买<br><br></p>
				<div class="sevices-w3layouts-img c3">
					<i class="fa fa-tree" aria-hidden="true"></i>
					<p>We harvest</p>
				</div>
			</div>
			<div class="col-md-3 sevices-w3layouts-grids wow fadeInUp animated" data-wow-delay=".5s">
				<h5>Service 3</h5>
				<p><br><br>最用心的包装<br>最快速的运输<br><br></p>
				<div class="sevices-w3layouts-img c4">
					<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					<p>We pack & ship</p>
				</div>
			</div>
			<div class="col-md-3 sevices-w3layouts-grids sevices-w3layouts-mdl wow fadeInUp animated" data-wow-delay=".5s">
				<h5>Service 4</h5>
				<p><br><br><br>即刻享受新鲜<br><br></p>
				<div class="sevices-w3layouts-img c2">
					<i class="fa fa-truck" aria-hidden="true"></i>
					<p>You receive your order</p>
				</div>
			</div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!--//sevices-->
<!-- team -->
{#<div class="team agileits" id="team">#}
{#	<div class="team-info">#}
{#		<div class="container">#}
{#			<h3 class="agile-title">Our Team</h3>#}
{#			<div class="team-row">#}
{#				<div class="col-md-3 team-grids">#}
{#					<div class="team-agile-img">#}
{#						<a href="#"><img src="/static/index/images/1.jpg" alt="img"></a>#}
{#						<div class="view-caption">#}
{#							<div class="w3ls-info">#}
{#								<h4>name1</h4>#}
{#							</div>#}
{#							<ul>#}
{#								<li><a href="#"><span class="fa fa-facebook"></span></a></li>#}
{#								<li><a href="#"><span class="fa fa-twitter"></span></a></li>#}
{#								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#				<div class="col-md-3 team-grids">#}
{#					<div class="team-agile-img">#}
{#						<a href="#"><img src="/static/index/images/2.jpg" alt="img"></a>#}
{#						<div class="view-caption">#}
{#							<div class="w3ls-info">#}
{#								<h4>name2</h4>#}
{#							</div>#}
{#							<ul>#}
{#								<li><a href="#"><span class="fa fa-facebook"></span></a></li>#}
{#								<li><a href="#"><span class="fa fa-twitter"></span></a></li>#}
{#								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#				<div class="col-md-3 team-grids">#}
{#					<div class="team-agile-img">#}
{#						<a href="#"><img src="/static/index/images/3.jpg" alt="img"></a>#}
{#						<div class="view-caption">#}
{#							<div class="w3ls-info">#}
{#								<h4>name3</h4>#}
{#							</div>#}
{#							<ul>#}
{#								<li><a href="#"><span class="fa fa-facebook"></span></a></li>#}
{#								<li><a href="#"><span class="fa fa-twitter"></span></a></li>#}
{#								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#				<div class="col-md-3 team-grids">#}
{#					<div class="team-agile-img">#}
{#						<a href="#"><img src="/static/index/images/4.jpg" alt="img"></a>#}
{#						<div class="view-caption">#}
{#							<div class="w3ls-info">#}
{#								<h4>name4</h4>#}
{#							</div>#}
{#							<ul>#}
{#								<li><a href="#"><span class="fa fa-facebook"></span></a></li>#}
{#								<li><a href="#"><span class="fa fa-twitter"></span></a></li>#}
{#								<li><a href="#"><span class="fa fa-google-plus"></span></a></li>#}
{#							</ul>#}
{#						</div>#}
{#					</div>#}
{#				</div>#}
{#				<div class="clearfix"> </div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#</div>#}
<!-- //team -->
<!-- testimonials -->
<div class="testimonials w3ls-section" id="testimonials">
	<div class="container">
		<h3 class="agile-title">Testimonials</h3>
		<div class="w3_testimonials_grids w3_testimonials_grids">
			<div class="sreen-gallery-cursual">
				<div id="owl-demo" class="owl-carousel">
						 <div class="item-owl">
							<div class="col-md-3 col-sm-3 col-xs-3 img-agile">
								<h6>Michael Paul</h6>
							</div>
							<div class="col-md-9 col-sm-9 col-xs-9 test-review test-tooltip1">
								<p><i class="fa fa-quote-left" aria-hidden="true"></i> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<i class="fa fa-quote-right" aria-hidden="true"></i> </p>
							</div>
						 </div>
						 <div class="item-owl">
							<div class="col-md-3 col-sm-3 col-xs-3 img-agile">
								<h6>Riya Allen</h6>
							</div>
							<div class="col-md-9 col-sm-9 col-xs-9 test-review test-tooltip1">
								<p> <i class="fa fa-quote-left" aria-hidden="true"></i> Polite sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<i class="fa fa-quote-right" aria-hidden="true"></i> </p>
							</div>
						</div>
						 <div class="item-owl">
							<div class="col-md-3 col-sm-3 col-xs-3 img-agile">
								<h6>Riya Allen</h6>
							</div>
							<div class="col-md-9 col-sm-9 col-xs-9 test-review test-tooltip1">
								 <p><i class="fa fa-quote-left" aria-hidden="true"></i> Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.<i class="fa fa-quote-right" aria-hidden="true"></i> </p>
							</div>
						</div>
				 </div>
			</div>
		</div>
	</div>
</div>
<!-- //testimonials -->
<!--footer-->
<div class="footer_bottom section">
	<div class="agileits-w3layouts-footer">
		<div class="container">
			<div class="col-md-4 w3-agile-grid">
				<h5>About Us</h5>
				<p>THE ZJ's的水果，都是从众多商家中精挑细选，悉心比对后采购回来，其中不乏大量从产地直采的水果。其他当日生产的鲜食也是如此，
                    从原材料的选择到生产加工，都本着一个目的——新鲜！我们无时无刻都在尽最大努力，让用户体验到美味的极致新鲜。</p>
				   <div class="w3_agileits_social_media team_agile_w3l team footer">
							<ul class="social-icons3">

								<li><a href="#" class="wthree_facebook"> <i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#" class="wthree_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#" class="wthree_dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
								<li><a href="#" class="wthree_behance"><i class="fa fa-behance" aria-hidden="true"></i></a></li>
							</ul>
						</div>
			</div>
            <div class="col-md-4 w3-agile-grid">

			</div>
			<div class="col-md-4 w3-agile-grid">
				<h5>Contact us</h5>
				<div class="w3-address">
					<div class="w3-address-grid">
						<div class="w3-address-left">
							<i class="fa fa-phone" aria-hidden="true"></i>
						</div>
						<div class="w3-address-right">
							<h6>Phone Number</h6>
							<p>+86 130 0123 456</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="w3-address-grid">
						<div class="w3-address-left">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</div>
						<div class="w3-address-right">
							<h6>Email Address</h6>
							<p>Email :<a href="mailto:example@email.com"> mail@yzj.com</a></p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="w3-address-grid">
						<div class="w3-address-left">
							<i class="fa fa-map-marker" aria-hidden="true"></i>
						</div>
						<div class="w3-address-right">
							<h6>Location</h6>
							<p>北京市海淀区西土城路10号
							</p>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<div class="copyright">
		   <p>Copyright &copy;THE ZJ's </p>
	</div>
</div>
<!--//footer-->

<!-- js-files -->
<!-- js -->
<script src="/static/index/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- banner-slider -->
<script src="/static/index/js/responsiveslides.min.js"></script>
<script>
// You can also use "$(window).load(function() {"
$(function () {
  // Slideshow 3
  $("#slider3").responsiveSlides({
	auto: true,
	pager:true,
	nav:true,
	speed: 500,
	namespace: "callbacks",
	before: function () {
	  $('.events').append("<li>before event fired.</li>");
	},
	after: function () {
	  $('.events').append("<li>after event fired.</li>");
	}
  });

});
</script>
<script src="/static/index/js/owl.carousel.js"></script>
<script>
$(document).ready(function() {
  $("#owl-demo").owlCarousel({
	items : 1,
	lazyLoad : true,
	autoPlay : false,
	navigation : true,
	navigationText : true,
	pagination : true,
  });
});
</script>
<script type="text/javascript" src="/static/index/js/move-top.js"></script>
<script type="text/javascript" src="/static/index/js/easing.js"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){
				event.preventDefault();

		$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<script type="text/javascript">
	$(document).ready(function() {
		$().UItoTop({ easingType: 'easeOutQuart' });

	});
</script>
<script src="/static/index/js/bootstrap.js"></script>
<script src="/static/index/js/classie.js"></script>
<script src="/static/index/js/main.js"></script>

</body>
</html>